body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
}

.container,
.h2 {
  display: flex;
  border: 2px solid purple;
  border-radius: 10px;
  background-color: rgb(224, 10, 160);
  justify-content: center;
}

.h2 {
  align-self: center;
  padding: 10px;
}

.container.Score,
.container.Choice {
  flex: 3 1 auto;
  min-width: 400px;
  min-height: 70px;
  align-items: center;
}

.container.Match-status {
  min-width: 340px;
  min-height: 40px;
  align-items: center;
}

.container.Score p,
.container.Choice p {
  flex: auto;
}

.container.Button {
  gap: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  align-self: center;
}

p {
  text-align: center;
}
